*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: $dark-grey;
  letter-spacing: 1.2px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 769px) {
    padding: 0 8px;
  }
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}
