.footer {
  background-color: $dark-grey;
  border-top: #B3B3B3 40px solid;
  margin-top: 127px;
  padding-bottom: 65px;
}

.footer-top {
  padding: 29px 15px 0;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  .phone {
    margin-left: 5%;
  }
}

.navigation--footer {
  margin-left: 55px;

  .navigation__link {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.social {
  display: flex;
  margin-left: 70px;
}

.social__img {
  border: 1px solid #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 9px;
  display: block;

  &:first-child {
    margin-right: 30px;
  }

  &:hover {
    border: 1px solid $red;
  }
}

.contacts {
  display: flex;
  margin-left: 23.9%;
  margin-top: 32px;
}

.contacts__item:first-child {
  margin-right: 73px;
}

.contacts__item-title {
  color: $red;
  font-size: 12px;
  margin-bottom: 25px;
}

.contacts__item-text {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 1.3px;
}

.contacts__mail {
  color: #fff;
  font-weight: 800;

  &:hover {
    text-decoration: underline;
  }
}
