.header-wrapper {
  border-bottom: 5px solid $red;
  background-color: #fff;
}

.header {
  max-width: 1200px;
  display: flex;
  align-items: center;
  color: $red;
  margin: 0 auto;
  justify-content: space-between;

  input {
    display: none!important;
  }
}

.navigation {
  justify-content: flex-end;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  margin-left: 65px;
}

.navigation__link {
  margin-left: 24px;
  font-weight: 600;
  color: $red;
  position: relative;

  &:hover {
    &::before {
      content: '';
      width: 30px;
      bottom: -10px;
      left: 0;
      background-color: #1D1D1B;
      height: 2px;
      position: absolute;
    }
  }
}

.phone {
  padding: 6px 12px 4px;
  border: 1px $red solid;
  margin: 17px 13px 13px 11%;
  color: $red;
  font-weight: 800;

  &:hover {
    background-color: $red;
    color: #fff;
  }
}

.language {
  background-color: #424242;
  border-radius: 25px;
  margin: 10px 0 3px 2.1%;
  height: 18px;
  width: 89px;
  order: 1;


  &-toggler {
    display: block;
    text-transform: uppercase;
    left: 0;
    top: 0;
    position: relative;
    width: 21px;
    height: 35px;
    font-size: 6px;
    background: #fff;
    cursor: pointer;
    border: 1px $red solid;

    &:hover {
      color: #fff;
    }
  }

  &-toggler:after {
    content: "Укр";
    top: 0;
  }

  #language {
    display: none;
  }

  :checked + &-toggler {
    top: 0;
  }

  :checked + &-toggler:after {
    bottom: 0;
    top: auto;
    content: "Рус";
  }

  &-toggler::before, &-toggler::after {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    display: block;
    background: $red;
    color: #fff;
    transition: all 350ms ease;
    cursor: pointer;
    text-align: center;
    line-height: 1.6;
    padding-top: 4px;
  }
}

.user {
  background-color: #B3B3B3;
  color: #fff;
  padding: 9px;
  margin-left: 8px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;

  img {
    margin-right: 7px;
    vertical-align: sub;
  }

  &:hover {
    background-color: #a5a5a5;
  }
}
