.credit-form {
  color: #fff;
  background-color: $red;
  max-width: 470px;
  margin-top: 65px;
  border-radius: 2px;
  box-shadow: 2px 12px 50px 15px rgba(227, 6, 19, 0.15);

  input {
    display: block;
  }
}

.credit-form__buttons {
  display: flex;
}

.credit-form__toogler {
  height: 60px;
  width: 50%;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.3px;
}

.credit-form__toogler--disabled {
  background-color: #BA0510;
  color: $red;
}

.credit-form__ammount {
  padding: 37px 78px 25px;
  position: relative;
}

.credit-form__sum-choose {
  font-size: 14px;
  font-weight: normal;
}

.credit-form__sum-range {
  font-size: 12px;
  text-align: right;
  float: right;
  margin-top: 3px;
}

.credit-form__input {
  background-color: #fff;
  width: 100%;
  margin-top: 10px;
  height: 30px;
  color: #9197AE;
  padding: 0 15px;
  text-align: right;
  position: relative;
}

.credit-form__range {
  width: 80%;
  margin: 20px auto 0;
}

.credit-form__submit {
  margin: 35px auto 0;
  background-color: #ED6068;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 230px;
  font-weight: bold;
  font-size: 14px;
  display: block;
  color: #fff;
  text-align: center;
  padding-top: 17px;
  letter-spacing: 1.3px;

  &:hover {
    background-color: #f76068;
  }
}

.credit-form__footer {
  border-top: #BA0510 3px solid;
  text-align: center;
  padding: 12px 0 17px;
  font-size: 12px;
}

.credit-form__total {
  margin-left: 10px;

  strong {
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: normal;
  }
}

.is-changed {
  color: #000;
  text-align: left;
}

.credit-form__range {
  outline: none;
  padding: 0;
  height: 3px;
  background-size: 50% 100%;
  background:  #ce0000 linear-gradient(#ab050f, #a2040e) no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

.credit-form__range::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

.credit-form__range::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

.credit-form__range::-moz-focus-outer {
  border: 0;
}

.credit-form__range::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border: 0;
  background: white;
  border-radius: 100%;
  box-shadow: 0 1px 2px 0 #000;
  -webkit-appearance: none;
}

.credit-form__range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 0;
  background: white;
  border-radius: 100%;
  box-shadow: 0 1px 2px 0 #000;
}

.plus,
.minus {
  position: absolute;
  top: 46.2%;
  outline: none;
  cursor: pointer;
}

.minus {
  left: 69px;
}

.plus {
  right: 69px;
}
