.registration {
  font-size: 12px;
  background-color: rgba(239, 239, 239, 0.82);

  .page-title {
    margin-top: 90px;
  }

  input {
    display: block;
  }

  .step__input-text {
    background-color: #fff;
    height: 30px;
    width: 370px;
    color: $light-grey;
    padding: 0 15px;
    position: relative;
    border: 1px $light-grey solid;
    outline: 0;
    margin-top: 20px;

    &:first-of-type {
      margin-top: 27px;
    }
  }
}

#regForm {
  min-width: 300px;
}

.step {
  margin-top: 62px;
}

.step:not(:first-of-type) {
  display: none;
}

.step-title {
  font-size: 14px;
  letter-spacing: 0.7px;
  color: $light-grey;
  display: inline-block;
  margin-top: 62px;
  margin-right: 35px;

  &.step-is-active {
    color: #E30613;
    font-size: 24px;
    letter-spacing: 1.2px;
  }
}

.step__checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;

  &:first-of-type {
    margin-top: 28px;
  }
}

.step__checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #fff;
  border: 1px $light-grey solid;
  border-radius: 4px;
}

.step__checkbox-label:hover input ~ .checkmark {
  background-color: #dddddd;
}

.step__checkbox-label input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.step__checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.step__checkbox-label .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 7px;
  border: solid #e30613;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.step__radio-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.step__radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 1px $light-grey solid;
  border-radius: 50%;
}

.step__radio-label:hover input ~ .radio-check {
  background-color: #e0e0e0;
}

.radio-check:after {
  content: "";
  position: absolute;
  display: none;
}

.step__radio-label input:checked ~ .radio-check:after {
  display: block;
}

.step__radio-label .radio-check:after {
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $red;
}

.next-step {
  border: 1px $red solid;
  color: $red;
  width: 170px;
  height: 30px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 57px;
  cursor: pointer;

  &:hover {
   background-color: #fff;
  }
}
