.steps {
  margin-top: 116px;

  .flex-wrapper {
    margin-top: 95px;
  }
}

.steps__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.steps__item-info {
  margin-top: 20px;

  > .caption {
    text-align: left;
    text-transform: uppercase;
  }
}

.steps__item-count {
  color: $light-grey;
  font-size: 48px;
  font-weight: bold;
  margin-right: 13px;
}

.steps__item-text {
  color: #000;
  font-size: 18px;
  max-width: 320px;
  line-height: 30px;
  margin-top: 38px;
}
